div#dashboard{
    width: 100%;
    max-width: 930px;
    margin: 20px auto;
    padding: 0 30px;
}

div#dashboard .user-info{
    display: flex;
    height: 30px;
    align-items: center;
}

div#dashboard .user-info a{
    margin-left: 10px;
    padding: 8px;
    border-radius: 4px;
    font-size: 20px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
}

div#dashboard p{
    padding: 20px 0 10px;
}

div#dashboard button{
    padding: 10px 10px;
    border-radius: 4px;
    background: #272727;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}