div#dashboard{
    width: 100%;
    max-width: 930px;
    margin: 20px auto;
    padding: 0 30px;
}

div#dashboard .user-info{
    display: flex;
    height: 30px;
    align-items: center;
}

div#dashboard p{
    padding: 20px 0 10px;
}

#post{
    padding: 0 30px;
    display: flex;
    flex-direction: row;
}

#post img{
    width: 100%;
    height: 160px;
}

#btnEdit, #btnDelete{
    width: 100%;
}

.icon{
    font-size: 23px;
}

p{
    font-size: 16px;
}

button{
    font-size: 20px;
}