.tamanho{
    max-width: 66% !important;
}

.imgCel{
    /* max-width: 95% !important; */
    max-height: 500px;
}

.descricao{
    font-size: 20px;
}

.bord{
    border-top: 1px solid black;
}

.btnCompras{
    font-size: 30px;
    text-align: center;
    width: 20px !important;
    height: 20px !important;
}

.autor{
    color: grey;
}

.date{
    font-size: 20px;
    font-weight: bold;
}

.max{
    max-height: 500px;
}

@media screen and (max-width: 520px){
    .contDesc{
        max-width: 90% !important;
    }

    .max{
        max-height: none;
    }
}