#navbar{
    background-color: #F2921D !important;
    /* 
    #025951
    #D97823
    #D9886A
    #260B01
    */
}
#navbar a{
    color: #ffffff;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive !important;
}

.cool-link a {
    margin-bottom: 10px;
}

.cool-link {
    display: inline-block;
    color: #59D559;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #59D559;
    transition: width .5s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .5s;
}

#perfil > img{
    max-width: 35px;
    max-height: 35px;
    border-radius: 6px;
}

#dropdown a{
    text-decoration: none !important;
    color: #212529;
    font-size: 16px;
}

span{
    font-size: 18px;
}

#newevent{
    color: green;
}
#main{
    cursor: pointer;
}

@media screen and (max-width: 520px){
    .fontSizeNav{
        font-size: 5px;
    }
}