#navbar{
    width: 100%;
    background-color: #272727;
    height: 72px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar a{
    color: #ffffff;
    text-decoration: none;
    font-size: 23px;
}

#perfil > img{
    max-width: 35px;
    max-height: 35px;
    border-radius: 6px;
}

#dropdown a{
    text-decoration: none !important;
    color: #212529;
    font-size: 16px;
}

span{
    font-size: 18px;
}

#newevent{
    color: green;
}
#main{
    cursor: pointer;
}