#navbar{
    background-color: #F2921D !important;
    /* 
    #025951
    #D97823
    #D9886A
    #260B01
    */
}
#navbar a{
    color: #ffffff;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
}

#perfil > img{
    max-width: 35px;
    max-height: 35px;
    border-radius: 6px;
}

#dropdown a{
    text-decoration: none !important;
    color: #212529;
    font-size: 16px;
}

span{
    font-size: 18px;
}

#newevent{
    color: green;
}
#main{
    cursor: pointer;
}

@media screen and (max-width: 520px){
    .fontSizeNav{
        font-size: 5px;
    }
}