form#perfil{
    width: 100%;
    max-width: 680px;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
} */

form#perfil input, label {
    margin-bottom: 16px;
}

form#perfil input[type=text]{
    margin-bottom: 15px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 20px;
    font-size: 15px;
}

form#perfil progress{
    margin-bottom: 15px;
}