form#register{
    width: 100%;
    max-width: 680px;
    margin: 10px auto 0;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

div .register-h1{
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
}

form#register input, label {
    margin-bottom: 16px;
}

form#register input{
    margin-bottom: 15px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 20px;
    font-size: 15px;
}

form#register button{
    margin-top: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 0px;
    background: #272727;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
