header#new{
    width: 100%;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px auto 10px;
}

header#new a{
    background: #272727;
    padding: 8px 18px 8px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

form#new-post{
    background-color: #fff;
    width: 100%;
    max-width: 680px;
    margin: 0px auto 0px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

form#new-post input{
    margin-bottom: 10px;
}

form#new-post span{
    text-align: center;
    color: #ff0000;
    font-size: 15px;
}

form#new-post label{
    margin-bottom: 15px;
}

form#new-post img{
    width: 200px;
    height: 100px;
    margin-bottom: 15px;
}

form#new-post progress{
    margin-bottom: 15px;
}

form#new-post input[type=text]{
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 20px;
}

form#new-post textarea{
    height: 80px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 20px;
    padding-top: 10px;
}

/* form#new-post button{
    padding: 10px 20px;
    border-radius: 4px;
    border: 0px;
    background: #272727;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
} */

/* input#ficheiro{
    max-width: 100%;
}

#name, #desc, #lcEv{
    width: 100%;
}

#hrIn, #hrFi{
    margin: 10px;
}

#dateIn, #dateFi{
    margin: 10px;
} */